{% extends 'base.html' %}
{% block content %}
<div class="card card-register mx-auto">
        <h3 class="title">Welcome</h3>
        <form class="register-form" method="POST" action="{% url 'accounts:login' %}">
            {% if form.non_field_errors %}
                <ul class='form-errors'>
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% csrf_token %}
            <label>Email</label>
            <input class="form-control" name="username" placeholder="Email or Username" autocomplete="off" type="text" required>
            <label>Password</label>
            <input class="form-control" name="password" placeholder="Password" autocomplete="off" type="password" required>
            <button class="btn btn-info btn-block btn-round">Login</button>
        </form>
        <div class="forgot">
            <a href="#forgot_password" class="btn btn-link btn-danger">Forgot password?</a>
        </div>
        <div class="no-account">
            <a href="#signup" class="btn btn-link btn-default">Don't have an account?</a>
        </div>
    </div>
</div>
{% endblock content %}