{% load static %}
    {% if not profile_user %}
        {% with profile_user=user %}
<div class="page-header page-header-small"  style="background-image: url('{% if profile_user.user_details.cover_photo %} {{ profile_user.user_details.cover_photo.url }}{%else%}{% static 'img/default_cover.png' %}{% endif %}');"></div>
<div class="filter"></div>
{% endwith %}
{% else %}
<div class="page-header page-header-small"  style="background-image: url('{% if profile_user.user_details.cover_photo %} {{ profile_user.user_details.cover_photo.url }}{%else%}{% static 'img/default_cover.png' %}{% endif %}');"></div>
<div class="filter"></div>
{% endif %}

</div>