{% load static %}
{% load check_followed_filter %}

<div class="row owner">
    {% if not profile_user %}
        {% with profile_user=user %}
        <div class="col-md-2 col-sm-4 col-6 ml-auto mr-auto text-center">
            <div class="avatar">
                <img src="{% if profile_user.user_details.profile_photo %} {{ profile_user.user_details.profile_photo.url }}{%else%}{% static 'img/default_profile.jpg' %}{% endif %}" alt="Circle Image" class="img-circle img-responsive">
            </div>
            <div class="name">

                <a href="{% url 'user_profile:user_profile' username=profile_user.username %}">
                    <h5>{{profile_user.first_name}} {{profile_user.last_name}} <br />
                        <small>@{{profile_user.username}}</small>
                        <a href="{% url 'settings:settings' %}">
                            <i class="fa fa-cog"></i>
                        </a>
                    </h5>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
            <p>
                {% if profile_user.user_details.bio %}
                    {{ profile_user.user_details.bio }}
                {% endif %}
            </p>
            <div class="description-details">
                <ul class="list-unstyled">
                        <li>{% if profile_user.user_details.gender == 'M' %}
                                <i class="fa fa-male"></i>Male
                            {% elif profile_user.user_details.gender == 'F' %}
                                <i class="fa fa-female"></i>Female
                            {% else %}
                            <i></i>
                            {% endif %}
                        <li>
                            {% if profile_user.user_details.date_of_birth %}
                                <i class="fa fa-calendar"></i>
                                Born {{ profile_user.user_details.date_of_birth }}
                            {% endif %}
                        </li>
                </ul>
            </div>
        </div>

        {% endwith %}
        {% else %}
        <div class="col-md-2 col-sm-4 col-6 ml-auto mr-auto text-center">
                <div class="avatar">
                    <img src="{% if profile_user.user_details.profile_photo %} {{ profile_user.user_details.profile_photo.url }}{%else%}{% static 'img/default_profile.jpg' %}{% endif %}" alt="Circle Image" class="img-circle img-responsive">
                     {% if profile_user != user %}
                    <div class="following">
                        {% if user|check_followed_user_already:profile_user %}
                            <a href="{% url 'user_profile:follow_user' username=profile_user.username %}">
                                <btn class="btn btn-info btn-round" rel="tooltip" title="Follow"><i class="fa fa-user-times"></i>Unfollow</btn>
                            </a>
                        {% else %}
                            <a href="{% url 'user_profile:follow_user' username=profile_user.username %}">
                                <btn class="btn btn-info btn-round" rel="tooltip" title="Follow">
                                    <i class="fa fa-user-plus"></i>Follow
                                </btn>
                            </a>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                <div class="name">
                     <a href="{% url 'user_profile:user_profile' username=profile_user.username %}">
                         <h4>{{profile_user.first_name}} {{profile_user.last_name}} <br />
                            <small>@{{profile_user.username}}</small>
                            {% if profile_user == user %}
                                <a href="{% url 'settings:settings' %}">
                                    <i class="fa fa-cog"></i>
                                </a>
                            {% endif %}
                        </h4>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
                <p>{% if profile_user.user_details.bio %}{{ profile_user.user_details.bio }}{% endif %}</p>
                <div class="description-details">
                    <ul class="list-unstyled">
                            <li>{% if profile_user.user_details.gender == 'M' %}
                                    <i class="fa fa-male"></i>Male
                                {% elif profile_user.user_details.gender == 'F' %}
                                    <i class="fa fa-female"></i>Female
                                {% else %}
                                    <i></i>
                                {% endif %}
                            <li>
                                {% if profile_user.user_details.date_of_birth %}
                                    <i class="fa fa-calendar"></i>
                                    Born {{ profile_user.user_details.date_of_birth }}
                                {% endif %}
                            </li>
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
