{% extends 'base.html' %}
    {% load static %}
{% load trendings_tag %}
{% load follow_user_tag %}
{% load check_liked_filter %}
{% load post_include %}
{% block content %}

    <div class="wrapper">
            {% include 'cover_photo.html' %}
        <div class="profile-content section-white-gray">
            <div class="container">
                {% include 'profile_details.html' %}
                <div class="profile-tabs">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <ul id="tabs" class="nav nav-tabs" role="tablist">
                                <li class="nav-item ">
                                    <a class="nav-link active" href="#tweets" data-toggle="tab" role="tab">Posts</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div id="my-tab-content" class="tab-content">
                        <div class="tab-pane active" id="tweets" role="tabpanel">
                            <div class="row">
                                <div class="col-md-8">
                                                <div class="tweets">
                                                        {% include 'posts/post_add.html' %}
                                    </div>
                                    <div class="tweets text-center show-more-btn __hidden__">
                                    <button type="button" class="btn btn-link" onclick="show_new_posts();">Show new posts</button>
                                </div>

                                    <div class="tweets tweets2">
                                        {% posts_from_feed user as feed_posts %}
                                        {% if not feed_posts %}
                                            <h3 class="text-muted">Empty feeds. Follow some users and get back here. :(</h3>
                                        {% endif %}
                                        {% for post in feed_posts %}
                                            {% post_include post user%}
                                        {% endfor %}
                                        <div class="media __hidden__" postId="__prefix_post_id__" id="cloneme">
                                                <div class="pull-left" href="{% url 'user_profile:user_profile' username='__prefix_username__' %}">
                                                 <div class="avatar">
                                                    <a href="{% url 'user_profile:user_profile' username='__prefix_username__' %}">
                                                      <img class="media-object" src="{% url 'user_profile:profile_photo' username='__prefix_username__'%}" alt="..." />
                                                    </a>
                                                    </div>
                                                </div>
                                                <div class="media-body">
                                                  <a href="{% url 'user_profile:user_profile' username='__prefix_username__' %}"><strong>__prefix_first_name__ __prefix_last_name__</strong>
                                                  <h5 class="media-heading"><small>@__prefix_username__ &middot; __prefix_post_created_on__</small></h5>
                                                  </a>
                                                  <p>__prefix_post_text__</p>
                                        
                                                  <div class="media-footer">
                                                      <a href="#paper-kit" class="btn btn-link">
                                                           <i class="fa fa-reply"></i>
                                                      </a>
                                                      <a href="#paper-kit" class="btn btn-success btn-link">
                                                           <i class="fa fa-retweet"></i> 2.1k
                                                      </a>
                                                      <a href="__{% url 'posts:like' post_id='1' %}/__" class="btn btn-link black like-click">
                                                           <i class="fa fa-heart"></i> <i class="like-count">__prefix_like_count__</i>
                                                      </a>
                                                  </div>
                                                </div>
                                        </div>
                                        <br/>
                                    </div>
                                </div>

                        {% follow_user_tag user as follow_users%}
                                <div class="col-md-4 col-sm-6">
                                    <div class="card card-with-shadow">
                                        <div class="card-body">
                                            <a id="follow_friends"><h5 class="card-title">Who to follow &middot; <small><a href="javascript: void(0);" class="link-info">View all</a></small></h5>
                                            </a>
                                            <div class="accounts-suggestion">
                                                <ul class="list-unstyled">
                                                    {% for follow_user in follow_users %}
                                                    <li class="account">
                                                        <div class="row">
                                                            <div class="col-md-3"><a href="{% url 'user_profile:user_profile' follow_user.username %}">
                                                                <div class="avatar">
                                                                    <img src="{% if follow_user.user_details.profile_photo %} {{ follow_user.user_details.profile_photo.url }}{%else%}{% static 'img/default_profile.jpg' %}{% endif %}" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                                </div>
                                                                </a>
                                                            </div>
                                                            <div class="col-md-7 description-section">
                                                                    <a href="{% url 'user_profile:user_profile' username=follow_user.username %}" class="text-muted">{{follow_user.first_name}} {{follow_user.last_name}} @{{follow_user.username}}</a></span>
                                                                <br />
                                                                {% comment %} <span class="text-muted"><small>Followed by <a href="#paper-kit" class="link-info">@banks</a> and <a href="#paper-kit" class="link-info">@rihanna</a> </small></span> {% endcomment %}
                                                            </div>
        
                                                            <div class="col-md-2 follow">
                                                                <a href="{% url 'user_profile:follow_user' username=follow_user.username %}"><i class="fa fa-user-plus"></i></a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>

                                        </div>
                                    </div> <!-- end card -->
                                    {% trendings_tag as trending %}
                                    <div class="card card-with-shadow">
                                        <div class="card-body">
                                            <a id="trending_hashtags"><h5 class="card-title">Trends &middot; <!--<small><a href="javascript: void(0);" class="link-info">Change</a></small>--></h5>
                                            </a>
                                            <div class="hashtag-suggestions">
                                                <ul class="list-unstyled">
                                                {% for trend in trending %}
                                                    <li><a href="{% url 'search:search' %}?q=%23{{trend.tag}}" class="link-danger">#{{trend.tag}}</a></li>
                                                {% endfor %}
                                                </ul>
                                            </div>

                                        </div>
                                    </div> <!-- end card -->
                                   
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane text-center" id="connections" role="tabpanel"></div>

                        <div class="tab-pane" id="media" role="tabpanel"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <footer class="footer section-gray">
        <div class="container">
            <div class="row">
                <nav class="footer-nav">
                    <ul>
                        <li><a href="{% url 'feeds:home' %}">Project Chirp</a></li>
                    </ul>
                </nav>
                <div class="credits ml-auto">
                </div>
            </div>
        </div>
    </footer>
{% endblock content %}


{% block post_add_js %}
    <script src="{% static 'js/addmediaform.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.uploadPreview.min.js' %}"></script>
    <script>
        $("[name=form-INITIAL_FORMS]").val(0);
        $("[name=form-TOTAL_FORMS]").val(0);
    var response_data={};
        {% if post_form.errors %}
            $('#postAddModal').modal('show');
        {% endif %}
        $(".like-click").click(function(event){
            event.preventDefault();
            var clicked = $(this);
            $(this).toggleClass('btn-danger');
            var like_count = parseInt($(this, '.like-count').text());
            $.ajax({
                url: $(this).attr('href'),
                success: function(response){
                    if(response.liked == true){
                        $(clicked).find('.like-count').text(++like_count);
                        if($(this).hasClass('btn-danger') != false){
                            $(this).toggleClass('btn-danger');
                        }
                }
                else if(response.liked == false){
                    $(clicked).find('.like-count').text(--like_count);
                    if($(this).hasClass('btn-danger') == false){
                        $(this).toggleClass('btn-danger');
                    }
                }
            }
            });
        });
        function y(){
            $.ajax({
                url: location.href+'new-feed/'+$('.tweets .media').attr('postid'),
                success: function(response){
                    response_data.data = JSON.parse(response);
                    var data = response_data.data;
                    if (data.length==0){
                        $('.show-more-btn').hide();

                    }
                    else{
                        $('.show-more-btn').show();
                        }
                    },
                complete: function() {
                    // Schedule the next request when the current one's complete
                    setTimeout(y, 10000)
                  },
            });
        };
        

        function show_new_posts(){
        var data = response_data.data;
                        for(var i=response_data.data.length; i!=0;i--){
                            var html=$('#cloneme')[0].outerHTML;
                            html = html.replace("__prefix_post_id__", response_data.data[i-1].id);
                            html = html.replace(/__prefix_post_created_on__/g,moment(response_data.data[i-1].created).fromNow());
                            html = html.replace(/__hidden__/g, '');
                            html = html.replace(/__prefix_username__/g,response_data.data[i-1].post_user);
                            html = html.replace(/__prefix_first_name__/g,response_data.data[i-1].userfname);
                            html = html.replace(/__prefix_last_name__/g,response_data.data[i-1].userlname);
                            html = html.replace(/__prefix_post_text__/g,response_data.data[i-1].text);
                            html = html.replace(/__prefix_like_count__/g,response_data.data[i-1].like_count);
                            html = html.replace("__/posts/1/like/__",'/posts/'+response_data.data[i-1].id+'/like');
                            var new_post = $('.tweets2').prepend(html);
                            new_post.find('[postid="'+response_data.data[i-1].id+'"]').removeAttr('id');
                        }
                        $('.show-more-btn').hide();
                    };
        y();
    </script>
    <style>
            .black{
                color: black;
            }

        </style>
{% endblock post_add_js %}
    
