{% extends 'base.html' %}
    {% load static %}
{% load trendings_tag %}
{% load follow_user_tag %}
{% load check_liked_filter %}
{% load post_include %}
{% block content %}

    <div class="wrapper">
            {% include 'cover_photo.html' %}
        <div class="profile-content section-white-gray">
            <div class="container">
                {% include 'profile_details.html' %}
                <div class="profile-tabs">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <ul id="tabs" class="nav nav-tabs" role="tablist">
                                <li class="nav-item ">
                                    <a class="nav-link active" href="#tweets" data-toggle="tab" role="tab">Posts</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div id="my-tab-content" class="tab-content">
                        <div class="tab-pane active" id="tweets" role="tabpanel">
                            <div class="row">

                                <div class="col-md-8">
                                    <div class="tweets">
                                            {% include 'posts/post_add.html' %}
                                    </div>
                                    <div class="tweets">
                                        {% if not user.post_set.all %}
                                            <h3 class="text-muted">No tweets yet :(</h3>
                                        {% endif %}
                                        {% for post in user.post_set.all %}
                                            {% post_include post user%}
                                        {% endfor %}

                                        <br/>
                                        <div class="text-center">
                                            <btn class="btn btn-outline-info btn-round">Load more Posts</btn>
                                        </div>
                                    </div>
                                </div>

                        {% follow_user_tag as follow_users%}
                                <div class="col-md-4 col-sm-6">
                                    <div class="card card-with-shadow">
                                        <div class="card-body">
                                            <h5 class="card-title">Who to follow &middot; <small><a href="javascript: void(0);" class="link-info">View all</a></small></h5>
                                            <div class="accounts-suggestion">
                                                <ul class="list-unstyled">
                                                    {% for follow_user in follow_users %}
                                                    <li class="account">
                                                        <div class="row">
                                                            <div class="col-md-3"><a href="{% url 'user_profile:user_profile' follow_user.username %}">
                                                                <div class="avatar">
                                                                    <img src="{% if follow_user.user_details.profile_photo %} {{ follow_user.user_details.profile_photo.url }}{%else%}{% static 'img/default_profile.jpg' %}{% endif %}" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                                </div>
                                                                </a>
                                                            </div>
                                                            <div class="col-md-7 description-section">
                                                                    <a href="{% url 'user_profile:user_profile' username=follow_user.username %}" class="text-muted">{{follow_user.first_name}} {{follow_user.last_name}} @{{follow_user.username}}</a></span>
                                                                <br />
                                                                {% comment %} <span class="text-muted"><small>Followed by <a href="#paper-kit" class="link-info">@banks</a> and <a href="#paper-kit" class="link-info">@rihanna</a> </small></span> {% endcomment %}
                                                            </div>
        
                                                            <div class="col-md-2 follow">
                                                                <a href="#follow"><i class="fa fa-user-plus"></i></a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>

                                        </div>
                                    </div> <!-- end card -->
                                    {% trendings_tag as trending %}
                                    <div class="card card-with-shadow">
                                        <div class="card-body">
                                            <h5 class="card-title">Trends &middot; <!--<small><a href="javascript: void(0);" class="link-info">Change</a></small>--></h5>
                                            <div class="hashtag-suggestions">
                                                <ul class="list-unstyled">
                                                {% for trend in trending %}
                                                    <li><a href="#trends" class="link-danger">#{{trend.tag}}</a></li>
                                                {% endfor %}
                                                </ul>
                                            </div>

                                        </div>
                                    </div> <!-- end card -->
                                   
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane text-center" id="connections" role="tabpanel"></div>

                        <div class="tab-pane" id="media" role="tabpanel"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <footer class="footer section-gray">
        <div class="container">
            <div class="row">
                <nav class="footer-nav">
                    <ul>
                        <li><a href="{% url 'feeds:home' %}">Project Chirp</a></li>
                    </ul>
                </nav>
                <div class="credits ml-auto">
                </div>
            </div>
        </div>
    </footer>
{% endblock content %}


{% block post_add_js %}
    <script src="{% static 'js/addmediaform.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.uploadPreview.min.js' %}"></script>
    <script>
        $("[name=form-INITIAL_FORMS]").val(0);
        $("[name=form-TOTAL_FORMS]").val(0);
    
        {% if post_form.errors %}
            $('#postAddModal').modal('show');
        {% endif %}
        $(".like-click").click(function(event){
            event.preventDefault();
            $(this).toggleClass('btn-danger');
            $.ajax({
                url: $(this).attr('href'),
                success: function(response) {
                    console.log(response)
                    if(response.liked == true){
                        if($(this).hasClass('btn-danger') != false){
                            $(this).toggleClass('btn-danger');

                    console.log('changed danger');
                        }
                }
                else if(response.liked == false){
                    if($(this).hasClass('btn-danger') == false){
                        $(this).toggleClass('btn-danger');
                console.log('removed danger');
                    }
                }
            }
            });
        })
    </script>
    <style>
            .black{
                color: black;
            }
        </style>
{% endblock post_add_js %}
    
