{% extends 'base.html' %}
{% load static %}
{% load check_liked_filter %}
{% load post_include %}
{% block content %}
{% load check_followed_filter %}
    <div class="wrapper">
        {% include 'cover_photo.html' %}
        {% include 'profile_details.html' %}
        
                <div class="profile-tabs">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <ul id="tabs" class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
									<a class="nav-link active" href="#posts_tab" data-toggle="tab" role="tab">Posts</a>
								</li>
                                <li class="nav-item">
									<a class="nav-link" href="#following" data-toggle="tab" role="tab">Following({{ profile_user.user_details.follows.all.count }})</a>
								</li>
                                <li class="nav-item">
									<a class="nav-link" href="#follows" data-toggle="tab" role="tab">Followers({{ profile_user.user_details.followed_by.all.count }})</a>
                                </li>
                                <li class="nav-item">
									<a class="nav-link" href="#media" data-toggle="tab" role="tab">Media</a>
								</li>
                            </ul>
                        </div>
                    </div>
                    <div id="my-tab-content" class="tab-content">
                    <div class="tab-pane text-center" id="media">
                            {% if user != profile_user %}
                            {% with user=profile_user %}
                                {% if not profile_user.post_set.all %}
                                    <h3 class="text-muted">No Media yet :(</h3>
                                {% endif %}
                                <div class="container h-100 d-flex justify-content-center">
                                    <div class="row">
                                            {% posts_from_users_profile user as posts %}
                                            <div class="column justify-content-center col-sm-12">
                                            {% for post in posts %}
                                            {% media_posts post as medias %}
                                              {% for media_post in medias %}
                                              {% if media_post.media %}
                                              <div class="my-gallery row d-flex justify-content-center col-sm-4" itemscope itemtype="http://schema.org/ImageGallery">
                                              <figure class="row" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                                <a href="{{media_post.media.url}}" itemprop="contentUrl" data-size="1024x1024">
                                                    <img src="{{media_post.media.url}}" itemprop="thumbnail" alt="Image description" />
                                                </a>
                                                <figcaption itemprop="caption description">
                                                  {{post.text}}</figcaption>
                                              </figure>
                                            </div>
                                              {% endif %}
                                              {% endfor %}
                                            {% endfor %}
                                    </div>
                                    </div>
                                </div>
                                {% endwith %}
                                {% else %}
                                    {% if not user.post_set.all %}
                                        <h3 class="text-muted">No Media yet :(</h3>
                                    {% endif %}
                                    {% posts_from_users_profile profile_user as posts %}
                                    <div class="column justify-content-center col-sm-12">
                                    {% for post in posts %}
                                    {% media_posts post as medias %}
                                      {% for media_post in medias %}
                                      {% if media_post.media %}
                                      <div class="my-gallery row d-flex justify-content-center  col-sm-3" itemscope itemtype="http://schema.org/ImageGallery">
                                      <figure class="row" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                        <a href="{{media_post.media.url}}" itemprop="contentUrl" data-size="1024x1024">
                                            <img src="{{media_post.media.url}}" itemprop="thumbnail" alt="Image description" />
                                        </a>
                                        <figcaption itemprop="caption description">
                                          {{post.text}}</figcaption>
                                      </figure>
                                    </div>
                                      {% endif %}
                                      {% endfor %}
                                    {% endfor %}
                                </div>
                                    {% endif %}
                          </div>
                    <div class="tab-pane active text-center" id="posts_tab">
                            <div class="container h-100 d-flex justify-content-center">
                                {% include 'posts/post_add.html' %}
                            </div>
                                {% if not profile_user.post_set.all %}
                                    <h3 class="text-muted">No tweets yet :(</h3>
                                {% endif %}
                                {% posts_from_users_profile user=profile_user viewer=user as posts %}
                                {% for post in posts %}
                                <div class="container h-100 d-flex justify-content-center">
                                    <div class="row">
                                        {% include 'posts/post.html' with post=post user=user %}
                                    </div>
                                </div>
                                {% endfor %}
                    </div>
                                
                        <div class="tab-pane justify-content-center text-center" id="follows">
                            <div class="row justify-content-center">
                                <div class="col-md-6 justify-content-center">
                                    <ul class="list-unstyled follows">
                                            {% if profile_user.user_details.followed_by.all %}
                                            {% for following_user in profile_user.user_details.followed_by.all %}
                                        <li>
                                            <div class="row ">
                                                <div class="col-md-2">
                                                        <a href="{% url 'user_profile:user_profile' following_user.user.username %}">
                                                        <img src="{% if following_user.user.user_details.profile_photo %}
                                                    {{ following_user.user.user_details.profile_photo.url }}
                                                    {%else%}
                                                    {% static  'img/default_profile.jpg' %}
                                                    {% endif %}" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                        </a>
                                                </div>
                                                <div class="col-md-7">
                                                    <a href="{% url 'user_profile:user_profile' following_user.user.username %}">
                                                        <h6>
                                                            {{following_user.user.first_name }} {{following_user.user.last_name }}
                                                            <br />
                                                            <small>@{{following_user.user.username}}</small>
                                                        </h6>
                                                    </a>
                                                </div>
                                                <div class="col-md-3 col-xs-2">
                                                        {% if profile_user != user %}
                                                    <div class="unfollow" rel="tooltip" title="Unfollow">
                                                        <div class="following">
                                                            {% if user|check_followed_user_already:following_user.user %}
                                                            <a href="{% url 'user_profile:follow_user' username=following_user.user.username %}"><btn class="btn btn-sm btn-info btn-round" rel="tooltip" title="Follow"></i>Unfollow</btn></a>
                                                            {% else %}
                                                            <a href="{% url 'user_profile:follow_user' username=following_user.user.username %}"><btn class="btn btn-sm btn-info btn-round" rel="tooltip" title="Follow"><i class="fa fa-user-plus"></i>Follow</btn></a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    {% else %}
                                                    <div class="unfollow" rel="tooltip" title="Unfollow">
                                                            <div class="following">
                                                                {% if user|check_followed_user_already:following_user.user %}
                                                                <a href="{% url 'user_profile:follow_user' username=following_user.user.username %}"><btn class="btn btn-sm btn-info btn-round" rel="tooltip" title="Follow"></i>Unfollow</btn></a>
                                                                {% else %}
                                                                <a href="{% url 'user_profile:follow_user' username=following_user.user.username %}"><btn class="btn btn-sm btn-info btn-round" rel="tooltip" title="Follow"><i class="fa fa-user-plus"></i>Follow</btn></a>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        {% endif %}
                                                </div>
                                            </div>
                                        </li>
                                        <hr />
                                        {% endfor %}
                                        {% else %}
                                        <h3 class="text-muted">No one follows you yet :(</h3>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane text-center justify-content-center" id="following">
                                <div class="row justify-content-center">
                                        <div class="col-md-6 col-md-offset-3">
                                            <ul class="list-unstyled follows">
                                                    {% if profile_user.user_details.follows.all %}
                                                    {% for user_follows in profile_user.user_details.follows.all %}
                                                <li>
                                                    <div class="row">
                                                        <div class="col-md-2 col-md-offset-0 col-xs-3 col-xs-offset-2">
                                                                <a href="{% url 'user_profile:user_profile' user_follows.user.username %}">
                                                                        <img src="{% if user_follows.user.user_details.profile_photo %}
                                                            {{ user_follows.user.user_details.profile_photo.url }}
                                                            {%else%}
                                                            {% static  'img/default_profile.jpg' %}
                                                            {% endif %}" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                                </a>
                                                        </div>
                                                        <div class="col-md-7 col-xs-4">
                                                                <a href="{% url 'user_profile:user_profile' user_follows.user.username %}">
                                                                        <h6>{{user_follows.user.first_name }} {{user_follows.user.last_name }}<br /><small>@{{user_follows.user.username}}</small></h6>
                                                                </a>
                                                        </div>
                                                        <div class="col-md-3 col-xs-2">
                                                            <div class="unfollow" rel="tooltip" title="Unfollow">
                                                                <div class="following">
                                                                    {% if user|check_followed_user_already:user_follows.user %}
                                                                    <a href="{% url 'user_profile:follow_user' username=user_follows.user.username %}"><btn class="btn btn-sm btn-info btn-round" rel="tooltip" title="Follow"><i class="fa fa-user-times"></i>Unfollow</btn></a>
                                                                    {% else %}
                                                                    <a href="{% url 'user_profile:follow_user' username=user_follows.user.username %}"><btn class="btn btn-sm btn-info btn-round" rel="tooltip" title="Follow"><i class="fa fa-user-plus"></i>Follow</btn></a>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <hr />
                                                {% endfor %}
                                                {% else %}
                                                <h3 class="text-muted">Not following anyone yet :(</h3>
                                                {% endif %}
                                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>        
    </div>
{% endblock content %}

{% block post_add_js %}
    <script src="{% static 'js/addmediaform.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.uploadPreview.min.js' %}"></script>
    <script>
        $("[name=form-INITIAL_FORMS]").val(0);
        $("[name=form-TOTAL_FORMS]").val(0);
    
        {% if post_form.errors %}
            $('#postAddModal').modal('show');
        {% endif %}
    </script>
    <script src="{% static 'js/post-clicks.js' %}"></script>
    <style>
            .black{
                color: black;
            }
        </style>

    <script>
        $('[title=Follow]').click(function(event){
            var clicked = $(this);
            event.preventDefault();
            $.ajax({
                url: $(this).parent().attr('href'),
                success: function(response){
                    if(response.following == true){
                        $(clicked).html('<i class="fa fa-user-times"></i>Unfollow');
                    }
                    else if(response.following == false){
                        $(clicked).html('<i class="fa fa-user-plus"></i>Follow');
                    }
                }
            })
        });
    </script>
{% endblock post_add_js %}
