{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="wrapper">
        <div class="profile-background settings-background" style="background-image: url({% if user.user_details.cover_photo %}
                            {{ user.user_details.cover_photo.url }}
                            {%else%}
                            {% static  'img/default_cover.png' %}
                            {% endif %});">

            <div class="filter-black"></div>
        </div>
        <div class="profile-content section-nude">
            <div class="container">
                <div class="row owner">
                    <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 text-center">
                        <div class="avatar">
                            <img src="{% if user.user_details.profile_photo %}
                            {{ user.user_details.profile_photo.url }}
                            {%else%}
                            {% static  'img/default_profile.jpg' %}
                            {% endif %}" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                        </div>
                        <div class="name">
                            <h4>{{ user.first_name }} {{ user.last_name}}<br /><small>{{ user.user_details.gender }}<br>@{{ user.username }}</small></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <p> {{ user.user_details.bio }}</p>
                        <br />
                        <a href="{%url 'settings:settings' %}"> <btn class="btn"><i class="fa fa-cog"></i> Settings</btn></a>
                    </div>
                </div>
                {% if messages %}
                <div class="messages">
                        {% for message in messages %}
                        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                        {% endfor %}
                        </div>
                {% endif %}
                <div class="profile-tabs">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                                <li class="active"><a href="#follows" data-toggle="tab">Follows({{ user.user_details.followed_by.all.count }})</a></li>
                                <li><a href="#following" data-toggle="tab">Following({{ user.user_details.follows.all.count }})</a></li>
                            </ul>
                        </div>
                    </div>
                    <div id="my-tab-content" class="tab-content">
                        <div class="tab-pane active" id="follows">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    <ul class="list-unstyled follows">
                                            {% if user.user_details.followed_by.all %}
                                            {% for following_user in user.user_details.followed_by.all %}
                                        <li>
                                            <div class="row">
                                                <div class="col-md-2 col-md-offset-0 col-xs-3 col-xs-offset-2">
                                                    <img src="{% if following_user.user.user_details.profile_photo %}
                                                    {{ following_user.user.user_details.profile_photo.url }}
                                                    {%else%}
                                                    {% static  'img/default_profile.jpg' %}
                                                    {% endif %}" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                </div>
                                                <div class="col-md-7 col-xs-4">
                                                    <h6>{{following_user.user.first_name }} {{following_user.user.last_name }}<br /><small>@{{following_user.user.username}}</small></h6>
                                                </div>
                                                <div class="col-md-3 col-xs-2">
                                                    <div class="unfollow" rel="tooltip" title="Unfollow">
                                                        <label class="checkbox" for="checkbox1" >
                                                            <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox" checked>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <hr />
                                        {% endfor %}
                                        {% else %}
                                        <h3 class="text-muted">No one follows you yet :(</h3>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane text-center" id="following">
                                <div class="row">
                                        <div class="col-md-6 col-md-offset-3">
                                            <ul class="list-unstyled follows">
                                                    {% if user.user_details.follows.all %}
                                                    {% for user_follows in user.user_details.follows.all %}
                                                <li>
                                                    <div class="row">
                                                        <div class="col-md-2 col-md-offset-0 col-xs-3 col-xs-offset-2">
                                                            <img src="{% if user_follows.user.user_details.profile_photo %}
                                                            {{ user_follows.user.user_details.profile_photo.url }}
                                                            {%else%}
                                                            {% static  'img/default_profile.jpg' %}
                                                            {% endif %}" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                        </div>
                                                        <div class="col-md-7 col-xs-4">
                                                            <h6>{{user_follows.user.first_name }} {{user_follows.user.last_name }}<br /><small>@{{user_follows.user.username}}</small></h6>
                                                        </div>
                                                        <div class="col-md-3 col-xs-2">
                                                            <div class="unfollow" rel="tooltip" title="Unfollow">
                                                                <label class="checkbox" for="checkbox1" >
                                                                    <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox" checked>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <hr />
                                                {% endfor %}
                                                {% else %}
                                                <h3 class="text-muted">Not following anyone yet :(</h3>
                                                <btn class="btn btn-warning btn-fill">Find Friends</btn>
                                                {% endif %}
                                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock content %}

